<div class="dashboard-container">
    <h2>Tableau de Bord Client</h2>
    
    <section class="orders">
      <h3>Vos Commandes</h3>
      <ul>
        <li *ngFor="let order of orders">
          Commande #{{ order.id }} - {{ order.product }} ({{ order.status }})
        </li>
      </ul>
    </section>
  
    <section class="recommendations">
      <h3>Recommandations pour Vous</h3>
      <ul>
        <li *ngFor="let item of recommendations">
          {{ item.product }} - {{ item.price | currency }}
        </li>
      </ul>
    </section>
  </div>
  